set realname = "${GMAIL_REAL_NAME}"
set from = "${GMAIL_USERNAME}@gmail.com"
set use_from = yes
set envelope_from = yes

set smtp_url = "smtps://${GMAIL_USERNAME}@smtp.gmail.com:465/"
set smtp_pass = "zesvbgsldcwgawtw"
set imap_user = "${GMAIL_USERNAME}@gmail.com"
set imap_pass = "${GMAIL_APP_PASSWORD}"
set folder = "imaps://imap.gmail.com:993"
set spoolfile = "+INBOX"
set ssl_force_tls = yes

# G to get mail
bind index G imap-fetch-mail
set editor = "vim"
set charset = "utf-8"
set record = ''
